ant*
archive
baits
GAGA_all_final_assemblies
uce-search-results
tree.iqtree
*.err
*.log
*.txt
*.conf
taxon-sets/tree-*
taxon-sets/all/as_*
taxon-sets/all/astral.e*
taxon-sets/all/astral.o*
taxon-sets/all/*.log
taxon-sets/all/*.err
taxon-sets/all/all-taxa-incomplete.*
taxon-sets/all/log
taxon-sets/all/mafft-nexus-*
taxon-sets/all/diff
taxon-sets/all/*.fasta
taxon-sets/all/*.conf
taxon-sets/all/*.txt
taxon-sets/all/tree*
taxon-sets/all/exploded-*
